.main {
  min-height: 77vh;
}

.login-comp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-comp form {
  width: 400px;
  background: rgba(255, 166, 0, 0.623);

  padding: 1rem;
  border-radius: 5px;
}
